<div class="adminActionButtons">
    <button class="actionButton" (click)="blockOrActivateUser(blockOrActivate)" mat-raised-button
        color="primary">{{blockOrActivate}}</button>
    <button class="actionButton" (click)="makeUserAdmin(userIsAdminOrNot)" mat-raised-button
        color="primary">{{userIsAdminOrNot}}</button>
    <button class="actionButton" (click)="seeAllPostsOfUser()" mat-raised-button
        color="primary">{{seeAllPosts}}</button>
</div> 