<mat-tab-group mat-stretch-tabs class="routerContent settingsTabs">
    <mat-tab label="Profile Settings ">
        <app-profile-settings></app-profile-settings>
    </mat-tab>
    <mat-tab label="Change Password ">
        <app-change-password></app-change-password>
    </mat-tab>
</mat-tab-group>