<div class="loginPageButtons">
    <div class="colorTheme">
        <app-color-theme></app-color-theme>
    </div>
    <div class="registerOption">
        <button type="button" routerLink='/registration' class="btn btn-secondary">Register</button>
    </div>
    <div class="loginOption">
        <button type="button" routerLink='/login' class="btn btn-primary">Login</button>
    </div>
</div>