.makeNewPost
    display: flex
    width: 39.5vw
    z-index: 2000

    .postField
        width: 85%

    .postButton
        margin-left: 1em
        width: 10%
        height: 3em
        margin-top: 1em

@media screen and ( max-width: 654px )
    .makeNewPost
        justify-content: center
        width: 80vw
        margin-left: 10vw
