<div class="makeNewPost">
    <mat-form-field class="postField" appearance="fill">
        <mat-label>Write a new post/upload pictures</mat-label>
        <textarea [(ngModel)]="newPost" #post matInput maxlength="300"
            placeholder="Ex. I am currently feeling..."></textarea>
        <mat-hint align="start">
            <strong>Uncensored content will be blocked</strong>
        </mat-hint>
        <mat-hint align="end">{{post.value.length}} / 300</mat-hint>
    </mat-form-field>
    <button (click)="createNewPost()" class="postButton" mat-raised-button color="primary">Post</button>
</div>