@import 'variables.sass'

.homePage
     width: 98vw
     height: auto
     display: flex
     flex-wrap: wrap
     gap: 10em
     justify-content: center
     margin-top: 2em
     margin-bottom: 2em

@media screen and ( max-width: 1080px )
     .homePage
          width: 96vw
          margin-left: 2vw
          margin-right: 2vw
          gap: 5em

@media screen and ( max-width: 654px )
     .homePage
          flex-direction: column
          width: 100vw
          margin-left: 0
          top: $heightHeader + $heightHeader*.30
          margin-right: 0

          .userProfile
               margin-left: auto
               margin-right: auto
