<div class="routerContent homePage">
  <div class="userProfile">
    <app-user-image></app-user-image>
    <app-total-posts-label [newPostCreationStatus]="newPostCreationStatus"></app-total-posts-label>
    <app-user-connections></app-user-connections>
  </div>
  <div class="userPostSection">
    <app-make-new-post (newPostCreationStatus)="newPostCreationStatus = $event"></app-make-new-post>
    <app-all-posts-by-user (changeInNewPostCreationStatus)="newPostCreationStatus = $event"
      [newPostCreationStatus]="newPostCreationStatus" [userId]="userId"></app-all-posts-by-user>
  </div>
</div>