.footer
    position: fixed
    left: 0
    bottom: 0
    width: 100vw
    height: 2em
    text-align: center
    background: #D19B75
    padding-top: .5em

    a a:hover a:focus a:active
        text-decoration: none
        color: black
        padding-left: .3em
