<div class="footer">
    <a role="button" href="/">Powered By Friends Book</a> |
    <a role="button" (click)="openFeedbackDialog()">Feedback</a> |
    <a role="button" (click)="openPrivacySettingsDialog()">Privacy Settings</a>
</div>