.connections
    border: 1px solid #3b3a3a
    border-radius: 2em
    margin-top: 1em
    width: 20em
    height: 3em
    text-align: center
    padding-top: .7em

    .title
        font-size: 1.4em
        font-weight: 600
        font-stretch: condensed
        font-family: 'Roboto'
