<div class="allPostsByAUserDialog">
    <h2 *ngIf="nameOfUser" mat-dialog-title>All posts by the user: {{nameOfUser}}</h2>
    <mat-dialog-content class="mat-typography dialogContent">
        <div class="userPosts">
            <app-all-posts-by-user [userId]="userId"></app-all-posts-by-user>
        </div>
    </mat-dialog-content>
</div>