<div class="feedbackDialog footerDialog">
    <h2 mat-dialog-title>Feedback Dialog</h2>
    <mat-dialog-content class="mat-typography dialogContent">
        <div class="feedbackForm">
            <app-shared-form class="formFieldSetting" (sharedFormValid)="updateValidForm($event)"
                [showFieldsAttr]="showFields" [formType]="formType"></app-shared-form>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="center" class="dialogActions">
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" [disabled]="!validForm" (click)="submit()"
            [mat-dialog-close]="showFields.firstName" cdkFocusInitial>Submit</button>
    </mat-dialog-actions>
</div>