<div class="userForm">
    <app-shared-form (filledForm)="loginUser($event)" [showFieldsAttr]="showFields" [formType]="formType">
    </app-shared-form>
    <div class="authFail" *ngIf="authenticationFailed">
        Incorrect Username or Password
    </div>
    <div class="spinner" *ngIf="showSpinner">
        <mat-spinner diameter="40" mode="indeterminate"></mat-spinner>
    </div>
    <div class="forgotPasswordLink">
        <button class="btn btn-sm btn-link" routerLink='/forgotPassword'>Forgot Password</button>
    </div>
</div>