@import 'variables.sass'

.forgotPasswordLink
    padding-top: 1em
    text-align: center

.spinner
    margin-top: 2em
    margin-left: 48%

.authFail
    font-size: 1em
    font-weight: 500
    text-align: center
    color: #e46b6b
    margin-top: 2em
