<div class="posts">
    <div *ngIf="allPosts === null || allPosts.length === 0">
        There are no posts by the user.
    </div>
    <div class="eachPost" *ngFor="let post of allPosts | sortByDate : 'allPosts' ">
        <div class="postContent">
            {{post.post}}
        </div>
        <div class="postFooter">
            {{post.createdDate | date:'shortDate' }} - {{post.createdDate | date:'shortTime' }}
        </div>
    </div>
</div>