.posts
    margin-top: 2em
    margin-bottom: 2em

    .eachPost
        background-color: #e2f1f3
        height: auto
        width: 39.5vw
        margin-top: 1em
        border-radius: 1em
        border: .3em solid #e2f1f3
        padding: 1em 1em

    .postContent
        font-size: 1.2em
        border-bottom: .5px solid #494949
        padding-bottom: .5em

    .postFooter
        padding-top: .5em
        text-align: right

@media screen and ( max-width: 654px )
    .posts
        width: 100vw

        .eachPost
            margin-left: 10vw
            width: 80vw
