<div class="userForm">
    <app-shared-form (filledForm)="asignFilledForm($event)" [showFieldsAttr]="showFields" [formType]="formType">
    </app-shared-form>
</div>
<div class="changeStatus" *ngIf="passwordChangeStatus">
    {{passwordChangeMessage}}
</div>