$heightHeader: 6em

=setMarginAndWidth($widthContent, $marginLeft, $marginRight)
    width: $widthContent
    margin-left: $marginLeft
    margin-right: $marginRight

=setFormOtherAttributes($background, $positionOfForm, $fromTop)
    background: $background
    position: $positionOfForm
    top: $fromTop

.routerContent
    position: absolute
    top: $heightHeader
    padding-bottom: 2em

.userForm
    +setMarginAndWidth(50vw,25vw,25vw)
    +setFormOtherAttributes(#eeeeee,absolute, $heightHeader)
    overflow: hidden
    padding: 1rem 1rem 4rem
    border-radius: 5px
    box-shadow: 0 0 1.2rem rgb(0,0 ,0, 0.15)

=setFlexLayout($displayFlex, $flexDirection, $flexWrap, $justifyContent)
    display: $displayFlex
    flex-flow: $flexDirection $flexWrap
    justify-content: $justifyContent

=headerOptionsSetting($marginLeft, $marginRight, $paddingTopAndBottom, $paddingLeftAndRight)
    margin-left: $marginLeft
    margin-right: $marginRight
    padding: $paddingTopAndBottom $paddingLeftAndRight

@media screen and ( max-width:  768px)
    .userForm
        +setMarginAndWidth(100vw,0,0)
        +setFormOtherAttributes(#eeeeee,absolute, $heightHeader)
    .colorTheme
        display: none

@media screen and ( max-width:  654px)
    .userForm
        +setFormOtherAttributes(#eeeeee,absolute, $heightHeader+$heightHeader*.30)
    .colorTheme
        display: none
