<div class="verticalCenterContainer">
    <div *ngIf="showFieldsAttr.formTitle && showFieldsAttr.formTitle.trigger" class="formHeading">
        <h2>{{showFieldsAttr.formTitle.value}}</h2>
    </div>
    <form class="applicationForm needs-validation" [formGroup]="sharedForm" (ngSubmit)="onSubmit()">
        <div *ngIf="showFieldsAttr.firstName && showFieldsAttr.firstName.trigger" class="form-group form-row parentDiv">
            <label for="firstName" class="form-label">
                {{showFieldsAttr.firstName.value}}
            </label>
            <div>
                <input id="firstName" type="text" formControlName="firstName" class="form-control"
                    placeholder="First Name" required />
            </div>
            <div *ngIf="sharedForm.controls['firstName'].invalid 
                    && (sharedForm.controls['firstName'].dirty || sharedForm.controls['firstName'].touched)">
                <div *ngIf="sharedForm.controls['firstName'].errors.required" class="invalid-feedback">
                    <i class="bi bi-exclamation-triangle"></i>&nbsp;<span>
                        {{showFieldsAttr.firstName.value}} is required
                    </span>
                </div>
            </div>
        </div>

        <div *ngIf="showFieldsAttr.lastName && showFieldsAttr.lastName.trigger" class="form-group form-row parentDiv">
            <label for="lastName">
                {{showFieldsAttr.lastName.value}}
            </label>
            <div>
                <input id="lastName" type="text" formControlName="lastName" class="form-control" placeholder="Last Name"
                    required />
            </div>
            <div *ngIf="sharedForm.controls['lastName'].invalid 
                    && (sharedForm.controls['lastName'].dirty || sharedForm.controls['lastName'].touched)">
                <div *ngIf="sharedForm.controls['lastName'].errors.required" class="invalid-feedback">
                    <i class="bi bi-exclamation-triangle"></i>&nbsp;<span>
                        {{showFieldsAttr.lastName.value}} is required
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="showFieldsAttr.dob && showFieldsAttr.dob.trigger" class="form-group form-row parentDiv" data-cy="parentDobDivPicker">
            <label for="dob">
                {{showFieldsAttr.dob.value}}
            </label>
            <div>
                <mat-form-field id="dobFormField" appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input id="dob" autocomplete="off" matInput [matDatepicker]="dob" formControlName="dob" class="form-control border-0" required>
                    <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                    <mat-datepicker #dob></mat-datepicker>
                  </mat-form-field>
            </div>
            <div *ngIf="sharedForm.controls['dob'].invalid 
                    && (sharedForm.controls['dob'].dirty || sharedForm.controls['dob'].touched)">
                <div *ngIf="sharedForm.controls['dob'].errors.required" class="invalid-feedback">
                    <i class="bi bi-exclamation-triangle"></i>&nbsp;<span>
                        {{showFieldsAttr.dob.value}} is required
                    </span>
                </div>
            </div>
        </div>
        <div *ngIf="showFieldsAttr.emailId && showFieldsAttr.emailId.trigger" class="form-group form-row parentDiv">
            <label for="emailId">
                {{showFieldsAttr.emailId.value}}
            </label>
            <div>
                <input id="emailId" type="text" formControlName="emailId" class="form-control" placeholder="Email Id"
                    required />
            </div>
            <div *ngIf="sharedForm.controls['emailId'].invalid 
                    && (sharedForm.controls['emailId'].dirty || sharedForm.controls['emailId'].touched)">
                <div *ngIf="sharedForm.controls['emailId'].errors.required" class="invalid-feedback">
                    <i class="bi bi-exclamation-triangle"></i>&nbsp;<span>{{showFieldsAttr.emailId.value}} is
                        required</span>
                </div>
                <div *ngIf="sharedForm.controls['emailId'].errors.email" class="invalid-feedback">
                    <i class="bi bi-exclamation-triangle"></i>&nbsp;<span>Please enter the valid
                        {{showFieldsAttr.emailId.value}}.</span>
                </div>
            </div>
        </div>
        <div *ngIf="showFieldsAttr.password && showFieldsAttr.password.trigger" class="form-group form-row parentDiv">
            <label for="passwordNewUser">
                {{showFieldsAttr.password.value}}
            </label>
            <div>
                <input id="passwordNewUser" type="password" formControlName="password" class="form-control"
                    placeholder="Password" required />
            </div>
            <div *ngIf="sharedForm.controls['password'].invalid 
                    && (sharedForm.controls['password'].dirty || sharedForm.controls['password'].touched)">
                <div *ngIf="sharedForm.controls['password'].errors.required" class="invalid-feedback">
                    <i class="bi bi-exclamation-triangle"></i>&nbsp;<span>{{showFieldsAttr.password.value}} is
                        required</span>
                </div>
                <div *ngIf="sharedForm.controls['password'].errors.minLength || sharedForm.controls['password'].errors.maxLength || sharedForm.controls['password'].errors.pattern"
                    class="invalid-feedback">
                    <i class="bi bi-exclamation-triangle"></i>&nbsp;<span>
                        <span>Please enter the valid {{showFieldsAttr.password.value}}</span> <br />
                        <span>[Min Length: 8 chars, should have: Uppercase, lowercase, special character,
                            nummeric].</span></span>
                </div>
            </div>
        </div>
        <div *ngIf="showFieldsAttr.confirmPassword && showFieldsAttr.confirmPassword.trigger"
            class="form-group form-row parentDiv">
            <label for="confirmPassword">
                {{showFieldsAttr.confirmPassword.value}}
            </label>
            <div>
                <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control"
                    placeholder="Confirm Password" required />
            </div>
            <div
                *ngIf="sharedForm.controls['confirmPassword'].invalid 
                    && (sharedForm.controls['confirmPassword'].dirty || sharedForm.controls['confirmPassword'].touched)">
                <div *ngIf="sharedForm.controls['confirmPassword'].errors.required" class="invalid-feedback">
                    <i class="bi bi-exclamation-triangle"></i>&nbsp;<span>{{showFieldsAttr.confirmPassword.value}} is
                        required</span>
                </div>
                <div *ngIf="sharedForm.controls['confirmPassword'].errors.minLength || sharedForm.controls['confirmPassword'].errors.maxLength || sharedForm.controls['confirmPassword'].errors.pattern"
                    class="invalid-feedback">
                    <i class="bi bi-exclamation-triangle"></i>&nbsp;<span><span>Please enter the valid
                            {{showFieldsAttr.confirmPassword.value}}</span> <br />
                        <span>[Min Length: 8 chars, should have: Uppercase, lowercase, special character,
                            nummeric].</span></span>
                </div>
                <div *ngIf="sharedForm.controls['confirmPassword'].errors.noMatch" class="invalid-feedback">
                    <i class="bi bi-exclamation-triangle"></i>&nbsp;<span><span>{{showFieldsAttr.confirmPassword.value}}
                            &amp; {{showFieldsAttr.password.value}} do not match</span></span>
                </div>
            </div>
        </div>
        <div *ngIf="showFieldsAttr.remark && showFieldsAttr.remark.trigger" class="form-group form-row parentDiv">
            <label for="remark" class="form-label">
                {{showFieldsAttr.remark.value}}
            </label>
            <div>
                <textarea id="remark" type="text" formControlName="remark" class="form-control" placeholder="Remark"
                    required>
                    </textarea>
            </div>
            <div *ngIf="sharedForm.controls['remark'].invalid 
                    && (sharedForm.controls['remark'].dirty || sharedForm.controls['remark'].touched)">
                <div *ngIf="sharedForm.controls['remark'].errors.required" class="invalid-feedback">
                    <i class="bi bi-exclamation-triangle"></i>&nbsp;<span>{{showFieldsAttr.remark.value}} is
                        required</span>
                </div>
            </div>
        </div>

        <div *ngIf="showFieldsAttr.phone && showFieldsAttr.phone.trigger" class="form-group form-row parentDiv">
            <label for="phone" class="form-label">
                {{showFieldsAttr.phone.value}}
            </label>
            <div>
                <input id="phone" type="text" formControlName="phone" class="form-control" placeholder="Phone No." />
            </div>
        </div>

        <div *ngIf="showFieldsAttr.pincode && showFieldsAttr.pincode.trigger" class="form-group form-row parentDiv">
            <label for="pincode" class="form-label">
                {{showFieldsAttr.pincode.value}}
            </label>
            <div>
                <input id="pincode" type="text" formControlName="pincode" class="form-control" placeholder="Pin Code" />
            </div>
        </div>

        <div *ngIf="showFieldsAttr.city && showFieldsAttr.city.trigger" class="form-group form-row parentDiv">
            <label for="phone" class="form-label">
                {{showFieldsAttr.city.value}}
            </label>
            <div>
                <input id="city" type="text" formControlName="city" class="form-control" placeholder="City" />
            </div>
        </div>

        <div *ngIf="showFieldsAttr.state && showFieldsAttr.state.trigger" class="form-group form-row parentDiv">
            <label for="state" class="form-label">
                {{showFieldsAttr.state.value}}
            </label>
            <div>
                <input id="state" type="text" formControlName="state" class="form-control" placeholder="State" />
            </div>
        </div>

        <div *ngIf="showFieldsAttr.country && showFieldsAttr.country.trigger" class="form-group form-row parentDiv">
            <label for="country" class="form-label">
                {{showFieldsAttr.country.value}}
            </label>
            <div>
                <input id="country" type="text" formControlName="country" class="form-control" placeholder="Country" />
            </div>
        </div>

        <div *ngIf="showFieldsAttr.gender && showFieldsAttr.gender.trigger" class="form-group form-row parentDiv">
            <label for="gender" class="form-label">
                {{showFieldsAttr.gender.value}}
            </label>
            <div>
                <input id="gender" type="text" formControlName="gender" class="form-control" placeholder="Gender" />
            </div>
        </div>
        <div *ngIf="showFieldsAttr.photoId && showFieldsAttr.photoId.trigger" class="form-group form-row parentDiv">
            <label for="photoId" class="form-label">
                {{showFieldsAttr.photoId.value}}
            </label>
            <div>
                <input id="photoId" (change)="uploadImage($event)" type="file" formControlName="photoId"
                    class="form-control" placeholder="Profile Picture" />
            </div>
        </div>

        <!--<div class="form-group form-row">
                <button (click)="executeImportantAction()">Important action</button>
            </div>-->
        <div class="form-group form-row parentDiv">
            <div *ngIf="showFieldsAttr.submitButton && showFieldsAttr.submitButton.trigger">
                <button type="submit" data-cy="submitFormButton" [disabled]="sharedForm.invalid"
                    class="btn btn-sm btn-primary">{{showFieldsAttr.submitButton.value}}</button>
            </div>
        </div>
    </form>
</div>