@import 'variables.sass'

.formHeading
    text-align: center

.applicationForm
    width: 80%
    margin: 0 auto
    text-align: center
    padding-top: 2em

.applicationForm label
    padding-top: .5em
    padding-bottom: .5em

.form-label
    margin-bottom: 0

#dobFormField
    width: 100%

#dobFormField input:focus
    border: none
    box-shadow: none
    text-decoration: none
    background: none

.applicationForm input
    padding-bottom: .5em

.applicationForm button
    margin-top: 2em

@media screen and ( max-width:  768px)
    .applicationForm
        width: 100%
        margin: 0

    .verticalCenterContainer
        margin-top: 2em

@media screen and ( max-width:  654px)
    .applicationForm
        width: 100%
        margin: 0

    .verticalCenterContainer
        margin-top: 3em

.invalid-feedback
    display: block
    text-align: left
