@import 'variables.sass'

.userList
    width: 60vw
    margin-left: 20vw

    h2
        text-align: center

    table

        td.adminButtons
            padding-top: 1em
            width: 30vw
        th, tr td:not(.adminButtons)
            padding-top: 1.5em
            padding-bottom: 1.5em
