<div class="routerContent userList">
    <h2>All users in system</h2>
    <table class="table table-striped table-bordered" style="text-align: center;">
        <thead *ngIf="allUsersInSystem" style="color: #000;">
            <th>
                Sr. No.
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email Id
            </th>
            <th>
                Is Active Status
            </th>
            <th>
                Is Admin
            </th>
            <th>
                Admin Actions
            </th>
        </thead>
        <tbody>
            <tr *ngFor="let user of allUsersInSystem; let i = index">
                <td> {{i+1}} </td>
                <td> {{user.firstName}} </td>
                <td> {{user.lastName}} </td>
                <td> {{user.email}} </td>
                <td> {{user.isActive}} </td>
                <td> {{user.isAdmin}} </td>
                <td class="adminButtons">
                    <app-admin-action-buttons [userName]="user.firstName + ' ' + user.lastName"
                        [allUsersInSystem]="allUsersInSystem" [userId]="user._id"></app-admin-action-buttons>
                </td>
            </tr>
        </tbody>
    </table>
</div>