.footerDialog
    width: 60vw

    h2
        text-align: center

    .dialogContent
        margin-bottom: .5em

    .dialogActions
        margin-top: .5em

@media screen and ( max-width:  768px)
    .footerDialog
        width: 80vw
