<div class="friendRequestActionButtons">
    <button class="friendRequestButton" (click)="createOrWithdrawRequest(requestStatusTitle)" mat-raised-button
        color="primary">{{requestStatusTitle}}</button>
</div>