<div class="networkPageContent">
    <div class="imageLoggedInUser">
        <app-user-image></app-user-image>
        <app-total-posts-label></app-total-posts-label>
        <app-user-connections></app-user-connections>
    </div>
    <div class="routerContent userList">
        <div class="allFriendsOfUser" *ngIf="allFriends.length > 0">
            <h1>{{allFriends.length}} Total Friend</h1>
            <div class="eachNetwork" *ngFor="let friend of allFriends">
                <div class="friendImage">
                    <img src="" alt="" />
                </div>
                <div class="friendName">
                    {{friend.firstName | titlecase }} {{friend.lastName | titlecase}}
                </div>
            </div>
        </div>
        <div class="allFriendsOfUser" *ngIf="allFriends.length <= 0">
            <h1>You do not have any friends yet.</h1>
        </div>
    </div>
</div>