<div class="profileSettingsForm">
    <app-shared-form class="sharedForm" (image)="asignImage($event)" (filledForm)="asignFilledForm($event)"
        [fillFormFields]="fillFormFields" [showFieldsAttr]="showFields" [formType]="formType"></app-shared-form>
</div>