::ng-deep .profileSettingsForm
    background-color: #f2facd
    height: auto
    border-radius: 20px
    border: 5px solid #f2facd

.profileSettingsForm .sharedForm ::ng-deep .applicationForm
    display: flex
    flex-wrap: wrap

.profileSettingsForm .sharedForm ::ng-deep .applicationForm .parentDiv
    margin-left: 2em
    margin-right: 2em
    width: 40%
    margin-bottom: 2em
