<div class="header">
    <div class="heading">
        <a routerLink='/login'>Friends Book</a>
        <!--<img src="../../../../images/logo.png" alt="Friends Book" />-->
    </div>
    <div class="headerOptionsRight">
        <div *ngIf="!headerUser">
            <app-header-new-user></app-header-new-user>
        </div>
        <div *ngIf="headerUser">
            <app-header-user></app-header-user>
        </div>
    </div>
</div>