@import 'variables.sass'

.header
    display: grid
    grid-template-columns: repeat(2, 1fr)
    background: #009578
    position: fixed
    width: 100vw
    height: $heightHeader
    z-index: 1001
    padding-top: $heightHeader*0.25
    box-shadow: .1em .1em .1em rgba(231, 207, 207, 0.8)
    border-radius: 0 0 3em 3em

.heading
    grid-column: 1/1
    grid-row: 1
    margin-left: 1em
    font-size: 2em
    padding-top: 0.3em

    a, a:hover, a:focus, a:active
        text-decoration: none
        color: inherit

.headerOptionsRight
    grid-column: 3/3
    grid-row: 1
    margin-right: 1em

@media screen and ( max-width:  768px)
    .header
        font-size: .7em
        height: 7em

    .heading
        padding-top: 0.5em

@media screen and ( max-width:  654px)
    .header
        height: $heightHeader + $heightHeader + 1em
        width: 100vw
        justify-content: center
        grid-template-columns: repeat(1, 1fr)
        grid-row-gap: 1em

        .heading
            grid-column: 1/1
            grid-row: 1
            margin-left: auto
            margin-right: auto

        .headerOptionsRight
            grid-column: 1/1
            grid-row: 2
            margin-left: auto
            margin-right: auto
