<div class="networkPageContent">
    <div class="imageLoggedInUser">
        <app-user-image></app-user-image>
        <app-total-posts-label></app-total-posts-label>
        <app-user-connections></app-user-connections>
    </div>
    <div class="routerContent userList">
        <div class="availableNetwork" *ngIf="availableNetwork.length > 0">
            <h1>{{availableNetwork.length}} Avaialable Networks</h1>
            <div class="eachNetwork" *ngFor="let user of availableNetwork">
                <div class="friendImage">
                    <img [src]="availableRetrievedPhoto[user.photoId]" alt="Preview Image" />
                </div>
                <div class="friendName">
                    {{user.firstName | titlecase }} {{user.lastName | titlecase}}
                </div>
                <div class="friendButton">
                    <app-friend-request [requestStatusTitle]="availableNetowrkButtonTitle" [userIdOfNetwork]="user._id">
                    </app-friend-request>
                </div>
            </div>
        </div>
        <div class="unAvailableNetwork" *ngIf="unAvailableNetwork.length > 0">
            <h1>{{unAvailableNetwork.length}} Already Request Sent Network</h1>
            <div class="eachNetwork" *ngFor="let user of unAvailableNetwork">
                <div class="friendImage">
                    <img [src]="unavailableRetrievedPhoto[user.photoId]" alt="Preview Image" />
                </div>
                <div class="friendName">
                    {{user.firstName | titlecase }} {{user.lastName | titlecase}}
                </div>
                <div class="friendButton">
                    <app-friend-request [friendRequestIdsOfUnavailableUsers]="friendRequestIdsOfUnavailableUsers[i]"
                        [requestStatusTitle]="unAvailableNetowrkButtonTitle" [userIdOfNetwork]="user._id">
                    </app-friend-request>
                </div>
            </div>
        </div>
    </div>
</div>