@import 'variables.sass'

.networkPageContent
    display: flex
    margin-left: 10vw
    margin-top: 20vh

    .imageLoggedInUser
        position: fixed

    .availableNetwork, .unAvailableNetwork
        margin-top: 4.5em

    .userList
        width: 60vw
        margin-left: 25vw

    .eachNetwork
        border: 1px solid #000
        border-radius: 5em
        width: 38.5vw
        display: flex
        height: 8em
        margin-bottom: 2em

        .friendImage
            margin-top: 1.5em
            margin-left: 2em

        img
            width: 5em
            height: 5em
            border: 4px solid #f7e0f7
            border-radius: 14em

        .friendName
            font-size: 1.5em
            padding-top: 2.2em
            margin-left: 2em
            width: 15vw

        .friendButton
            padding-top: 2.7em
