<div class="userPageButtons">
    <ul class="nav nav-pills">
        <li class="colorTheme">
            <app-color-theme></app-color-theme>
        </li>
        <li class="listOption nav-item">
            <a routerLink='/home' class="nav-link" routerLinkActive="active">Home</a>
        </li>
        <li *ngIf="isAdmin" class="listOption nav-item">
            <a routerLink='/userListPage' class="nav-link" routerLinkActive="active">User List</a>
        </li>
        <li class="listOption nav-item">
            <a routerLink='/socialNetwork' class="nav-link" routerLinkActive="active">Network</a>
        </li>
        <li class="listOption nav-item">
            <a routerLink='/friends' class="nav-link" routerLinkActive="active">Friends</a>
        </li>
        <li class="listOption nav-item">
            <a matTooltip="Profile Settings" routerLink='/settings' class="nav-link icon" routerLinkActive="active">
                <i class="bi bi-gear-wide-connected"></i>
            </a>
        </li>
        <li class="listOption nav-item">
            <a matTooltip="Notifications" routerLink='/notifications' class="nav-link icon" routerLinkActive="active">
                <i class="bi bi-bell"></i>
            </a>
        </li>
        <li class="listOption nav-item">
            <a role="button" (click)="logout()" class="nav-link" routerLinkActive="active">Logout</a>
        </li>
    </ul>
</div>