@import 'variables.sass'

.userPageButtons ul
    +setFlexLayout(flex,row,wrap,flex-end)
    list-style-type: none

.listOption, .colorTheme
    +headerOptionsSetting(0.1em,0.1em,0,0.1em)

.listOption a
    color: #e9f862d9
    font-size: 1.2em

.listOption a.icon
    color: #f4e6f8d9
    font-size: 1.2em

.listOption a.active
    color: #ffffff
    font-weight: 400
    background-color: transparent
    border: 1px solid #ffffff

.listOption a:hover
    color: #fbbfbf

    button
        border: none

.colorTheme
    margin-right: 1em
