/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css"

.main
    padding: 0
    margin: 0

body
    min-height: 100vh
    display: flex
    flex-direction: column
    font-family: 'Roboto'
    
.animation_bg , .animation_loggedIn_bg
    position: absolute
    z-index:-1
    width:100%
    height: 100vh
    overflow-y: scroll
    background-repeat: repeat-y
    background-color: #bff5e5



.custom-dialog > mat-dialog-container 
  background: #f7f7e4


.cdk-overlay-backdrop.cdk-overlay-dark-backdrop
    background: rgba(235, 235, 230,0.8)

.cdk-overlay-container
    z-index: 2000 !important