.userImage
    width: 20em
    height: 20em
    border: 1px solid #1a181a
    background: #faf6f6

    .avatar
        margin: 2em

        img
            width: 16em
            height: 16em
            border: 10px solid #f7e0f7
            border-radius: 14em
